
.Footer {
    text-align: center;
    padding: 1rem;
    background-color: #eee;
    font-size: 0.9rem;
    margin: 0; /* <-- agrega esto */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
  }