.Home {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: 1px solid rgb(221, 26, 26);
}
.Home__Avatar{
    
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 1rem;
      
}
.Home__Buttons {

    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.Home__Button {

    padding: 0.75rem 1.5rem;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para "flotar" */
    transition: all 0.3s ease;
    font-weight: bold;
}

.Home__Buttons a:hover {
    background-color: #45a049;
    transform: translateY(-5px); /* Se eleva al hacer hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); /* Sombra más fuerte */
}



/*  aqui las fuentes para Home */

@media (max-width: 600px) {
    .Home__avatar {
      width: 100px;
      height: 100px;
    }
  
    .Home h1 {
      font-size: 1.5rem;
    }
  
    .Home p {
      font-size: 1rem;
      margin: 0 1rem;
    }
  
    .Home__Buttons {
      flex-direction: column;
      align-items: center;
    }
  
    .Home__Buttons a {
        padding: 0.75rem 1.5rem;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        font-weight: bold;
        border: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center; /* <<< Esto centra verticalmente */
        min-height: 50px; /* <<< Altura mínima uniforme */
    }
  }