.Navbar{

    background-color: #1f2937; /* gris oscuro elegante */
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;

}

.Navbar a{
    color: #cbd5e1; /* gris azulado claro */
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.Navbar__Links{

    list-style: none;
    display: flex;
    gap: 1rem;
}

