.Central__Main{
    width: 100%;
    height: 70%;
    background-color: rgba(233, 233, 233, 0.911);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contenedor__reloj{
    width: 50%;
    height: 70%;
    background-color: red;
    background-color: rgba(233, 233, 233, 0.911);
    display:flex;
    justify-content: center;
    align-items: center;
}