.Timer__Main{

    width: 70%;
    height: 70%;
    background-color: white;
    background-color: rgba(233, 233, 233, 0.911);
    position: relative;
}
.Iniciar__Timer{

    width: 12rem;
    border: none;
    border-radius: 12px;
    padding: 12px;

    position: absolute;
    bottom: 0;
    left: 20%;
    cursor: pointer;

    background-color: black;
    color: white;
}

.Detener__Timer{

    width: 12rem;
    border: none;
    border-radius: 12px;
    padding: 12px;

    position: absolute;
    bottom: 0;
    right: 20%;

    cursor: pointer;

    background-color: black;
    color: white;
}
.presionado__btn{
    padding: 8px;

}
.Contenedor__Tiempo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    right: 46.8%;
    top: 50%;
}
.Tiempo{
    font-size: 5rem;
}